@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-white dark:bg-[#161b22]
           border border-gray-200 dark:border-[#30363d]
           rounded-lg;
  }

  .input-base {
  @apply w-full border rounded-lg p-2
    bg-white text-black
    dark:bg-[#0d1117] dark:text-[#e6edf3]
    dark:border-gray-700
    placeholder-gray-400 dark:placeholder-gray-500;
}

.textarea-base {
  @apply w-full border rounded-lg p-3
    bg-white text-black
    dark:bg-[#0d1117] dark:text-[#e6edf3]
    dark:border-gray-700
    placeholder-gray-400 dark:placeholder-gray-500;
}
}

html, body, #root {
  height: 100%;
}
